extends ../../views/layout_manage

block content
  .row
    .col-md-9.col-md-offset-2
      h1= title
      div.errors
        if errors
          ul.alert.alert-danger
            each error, i in errors
              li #{error.msg}
      form(method="post" action="/manage/poll/#{poll._id}/edit")
        .form-group
          label Title
          input.form-control(type="text" name="poll_title" value="#{poll.poll_title}")
        .form-group
          label Poll Question
          input.form-control(type="text" name="question" value="#{poll.question}")
        p Choices
        each choice, i in choices
          .form-group
            input.form-control(type="text" name="current-#{i}" value="#{choice.choice_name}")
        .new-fields
          <input type="hidden" name="current_fields" value="#{choices.length}">
          <input type="hidden" id="new-fields" name="new_fields" value="0">
          p.add-field Add More Choices

        .form-group.submit-btns
          button.btn.btn-success Update
          a.btn.btn-warning(href='/manage') Cancel